<?php
#------------------------------------------
# DB configuration options for PHP code
#
# 2012-aug-4 - TimC
#   - start conversion to using PDO
#   - move prepDBVal() here
#
# 2012-aug-6 - TimC
#   - prepDBVal() returns 'NULL' if call with a un-set variable
#------------------------------------------

#--- DB configuration
$GLOBALS['db_user'] = "DBUSERNAME";
$GLOBALS['db_pass'] = "DBUSERPASSWORD";
$GLOBALS['db_name'] = 'DBNAME';
$GLOBALS['db_host'] = "DBHOST";

#-----------------------------
function dbStart()
#-----------------------------
{
    mysql_connect($GLOBALS['db_host'],$GLOBALS['db_user'],$GLOBALS['db_pass']);

    @mysql_select_db($GLOBALS['db_name']) or die( "Unable to select database:[".$GLOBALS['db_name']."]");

    mysql_set_charset('utf8');

    $GLOBALS['dbh'] = new PDO( "mysql:host=$GLOBALS['db_host'];dbname=$GLOBALS['db_name']", $GLOBALS['db_user'], $GLOBALS['db_pass'] );

    return $GLOBALS['dbh'];

}

#----------------------------
function prepDBVal( $val )
#----------------------------
{
    if ( isset( $val ) ) {
        $val = stripslashes( $val );
        $val = mysql_real_escape_string( $val );
    } else {
        $val = 'NULL';
    }

    return $val;
}

#--- BE SURE THERE ARE NO BLANK LINES AFTER CLOSE
?>
